<h1>None encapsulation inside native encapsulation</h1>
<h3>
  The objective of this exercise is to understand the behavior of styles encapsulation when a component with no encapsulation is inside of
  a component with the native encapsulation
</h3>

<strong>Previus steps:</strong>
<p>
  1- Open the dev tools of your browser<br/>
  2- Look for the expl-native-none-father<br/>
  3- Watch how the styles are written
</p>

<strong>Try to answer this questions</strong>
<p>
  1- Why both componets are yellow?<br/>
</p>

<div class="color-square">
  <span>Father component</span>
</div>

<expl-native-none-son></expl-native-none-son>
