<h1>Default encapsulation of Components</h1>
<h3>
  The objective of this exercise is to understand how the default encapsulation works in Angular.
</h3>

<strong>Previus steps:</strong>
<p>
  1- Open the dev tools of your browser<br/>
  2- Look for the "header" tag in this storybook<br/>
  3- Watch how the styles are written
</p>

<strong>Try to answer this questions</strong>
<p>
  1- Why the father component is not red?<br/>
  2- Why the son component is not blue?<br/>
  3- What modifications can you do in the generated HTML to change the color of the son component to blue?
  Do these changes editing the HTML of the storybook with the dev tools of the browser
</p>

<div class="color-square">
  <span>Father component</span>
</div>

<expl-default-son></expl-default-son>
