<h1>Native encapsulation inside default encapsulation</h1>
<h3>
  The objective of this exercise is to understand the behavior of styles encapsulation when a component with a native encapsulation is
  inside of an object with the default encapsulation
</h3>

<strong>Previus steps:</strong>
<p>
  1- Open the dev tools of your browser<br/>
  2- Look for the "header" tag in this storybook<br/>
  3- Watch how the styles are written
  4- Look for the expl-native-default-son component and check what is inside
</p>

<strong>Try to answer this questions</strong>
<p>
  1- Why the father component is not red?<br/>
  2- Why the son component is not blue?<br/>
  3- What does it means "ShadowRoot" and what is its function?

<div class="color-square">
  <span>Father component</span>
</div>

<expl-native-default-son></expl-native-default-son>
